In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import json, os

In [3]:
def make_dataframe(inp_size = 15, out_size = 15, examples, num_data, path_to_file):
  #inp_size, out_size, examples = 15, 15, 4      # Modify
  cols = (inp_size**2 + out_size**2) * examples
  df = pd.DataFrame(columns=list(range(cols))+['operation','output'])
  op_list = [f'Dilation SE{i}' for i in range(1,9)] + [f'Erosion SE{i}' for i in range(1,9)]
  #path_to_file = "/content/IPARC_ChallengeV2/Dataset/CatA_Simple"   # Modify

  for id in range(num_data):
    with open(f'{path_to_file}/Task{id:03}.json') as f:
      data = json.load(f)
    with open(f'{path_to_file}/Task{id:03}_soln.txt') as file:
      lines = [line.rstrip() for line in file]
    d = []
    for i in range(len(data)):
      d += [element for innerList in data[i]['input'] for element in innerList] + [element for innerList in data[i]['output'] for element in innerList]
    for op in op_list:
      df.loc[len(df)] = (d + [op, op in lines])
  
  return df

SyntaxError: non-default argument follows default argument (2554312157.py, line 1)

In [4]:
df1 = make_dataframe()

NameError: name 'make_dataframe' is not defined

In [5]:
df

NameError: name 'df' is not defined

In [6]:
y = df.pop('output')
X = df

In [39]:
X = pd.get_dummies(df, columns = ['operation'])
#X.drop(['operation'], axis=1)
X.columns = X.columns.astype(str)
X

,0,1,2,3,4,5,6,7,8,9,...,operation_Dilation SE7,operation_Dilation SE8,operation_Erosion SE1,operation_Erosion SE2,operation_Erosion SE3,operation_Erosion SE4,operation_Erosion SE5,operation_Erosion SE6,operation_Erosion SE7,operation_Erosion SE8
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1598,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [40]:
y

0       False
1       False
2       False
3        True
4       False
        ...
1595     True
1596    False
1597    False
1598    False
1599     True
Name: output, Length: 1600, dtype: bool

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_train, y_train), clf.score(X_test, y_test)

(0.60546875, 0.453125)

In [44]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=0)
dt.fit(X_train, y_train)
dt.score(X_train, y_train), dt.score(X_test,y_test)

(1.0, 0.55)

In [50]:
from sklearn.svm import SVC
svc = SVC(gamma='auto')
svc.fit(X_train, y_train)
svc.score(X_train, y_train), svc.score(X_test,y_test)

(0.57734375, 0.553125, 'auto')

In [47]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=2, random_state=0)
rf.fit(X_train, y_train)
rf.score(X_train, y_train), rf.score(X_test,y_test)

(0.57734375, 0.553125)

In [48]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0).fit(X_train, y_train)
gbc.fit(X_train, y_train)
gbc.score(X_train, y_train), gbc.score(X_test,y_test)

(0.6078125, 0.446875)